<div class="container">
  <div class="header d-flex align-items-end justify-content-between">
    <h1 class="mt-5 title">
      Hologramas
    </h1>
    <button type="button" class="btn btn-success">Novo</button>
  </div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Titulo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Estoque</th>
        <th scope="col">Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let holograma of hologramas" class="table-line">

        <td scope="row" class="img-holo"><img src="{{holograma.img}}" alt="Foto Holograma" class="img-fluid" width="50%"></td>
        <td class="align-middle">{{holograma.descricao}}</td>
        <td class="align-middle">{{holograma.categoria}}</td>
        <td class="align-middle">{{holograma.quantidade}}</td>
        <td class="align-middle">{{holograma.valor}}</td>
      </tr>
    </tbody>
  </table>
</div>
