.navbar {
  background-color: #4B4BF9;
  padding: 1% 10%;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: large;
  color: #fff;
  margin: 0;
}

.nav-list li {
  margin: 0 5%;
  width: max-content;
  white-space: nowrap;
}

.nav-list li:hover {
  color: #ffffff66;
  cursor: pointer;
}
