.navbar {
  background-color: #4B4BF9;
  padding: 1% 10%;
}

.input-field {
  background-color: #fff;
  border-radius: 25px;
  padding: 0 1%;
}

.input-field input {
  border: none;
}

.input-field input:focus {
  border: none;
  box-shadow: none;
}

.btn-entrar, .btn-cart {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
