<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand me-0 col-3"><img src="../assets/img/logo-holo.png" alt="logo HOLO" class="img-fluid" width="70%"></a>
    <div class="nav-items">
      <ul class="nav-list">
        <li (click)="navegarMenu('hologramas')">
          Hologramas
        </li>
        <li (click)="navegarMenu('usuarios')">
          Gerenciar Usuários
        </li>
        <li (click)="navegarMenu('pedidos')">
          Pedidos
        </li>
        <li (click)="navegarMenu('orcamentos')">
          Orçamentos
        </li>
      </ul>
    </div>
  </div>
</nav>
