<div class="container">
  <h1 class="mt-5 title">
    Pedidos
  </h1>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Data</th>
        <th scope="col">Status</th>
        <th scope="col">Previsao</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos">
        <td class="align-middle">{{pedido.usuario?.nome}}</td>
        <td class="align-middle">{{pedido.data}}</td>
        <td class="align-middle">{{pedido.status}}</td>
        <td class="align-middle">{{pedido.previsaoEntrega}}</td>
        <td class="align-middle">{{pedido.valor}}</td>
      </tr>
    </tbody>
  </table>
</div>
