<div class="container">
  <h1 class="mt-5 title">
    Pedidos
  </h1>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Data</th>
        <th scope="col">Status</th>
        <th scope="col">Previsão</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos" class="table-line">
        <td class="align-middle">{{pedido.usuario?.nome}}</td>
        <td class="align-middle">{{pedido.data}}</td>
        <td class="align-middle">{{pedido.status}}</td>
        <td class="align-middle">30/07/2023</td>
        <td class="align-middle">R$ 220.50</td>
      </tr>
    </tbody>
  </table>
</div>
